body{
	/*background-color: #E0EDFB;*/
	background: #727272 !important;
}

body > div[data-role=page]{
	/*background-color: #E0EDFB;*/
	background: transparent;
}

.login{
	width: 100%;
	text-align: center;
}

.login > .logo {
	margin-top: 30px;
}

.login form{
	margin-top: 60px;
	width: 250px;
	left: 50%;
	margin-left: -114px;
	position: relative;
}

.login .login-form form input{
	font-size: 17px;
	text-align: center;
}

.login-form > form > button.btn-ingresar{
	color: #000;
	height: 32px;
	margin-top: 10px;
	padding-top: 5px;
	width: 150px;
	font-weight: bold;
	font-size: 12px;
	border: none;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFD65),
	color-stop(1, #FBB23C)
    );
	background-image: -o-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: -moz-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: -ms-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: linear-gradient(to bottom, #FFFD65 0%, #FBB23C 100%);
}

.login .login-form > form > span#signinButton{
	margin-top: 20px;
	display: inline-block;
	/*background: #DD4B39;*/
	color: white;
	width: 150px;
	border-radius: 50px;
}

.login .error-message{
	margin-left: 30px;
	font: normal 25px/1 "Fredoka One", Helvetica, sans-serif;
	color: white;
}